Repository YahiaElTai/ms-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

enable lightship logging
  infra/k8s/ms-commerce-auth/Chart.yaml
  infra/k8s/ms-commerce-auth/templates/deployment.yaml
  infra/k8s/ms-commerce-auth/values.yaml
Due: prettier --write --parser yaml

add container probes to cart service
  infra/k8s/ms-commerce-auth/Chart.yaml
  infra/k8s/ms-commerce-auth/templates/deployment.yaml
  infra/k8s/ms-commerce-cart/Chart.yaml
  infra/k8s/ms-commerce-cart/templates/deployment.yaml
  infra/k8s/ms-commerce-cart/templates/service.yaml
  infra/k8s/ms-commerce-cart/values.yaml
  services/cart/package.json
  services/cart/src/index.ts
  services/cart/yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser yaml

improve docs
  .circleci/README.md
  README.md
  docs/AUTHENTICATION_STRATEGY.md
  docs/Local_Development_Setup.md
Due: prettier --write --parser markdown

improve docs
  infra/k8s/ms-commerce-auth/templates/deployment.yaml
Due: prettier --write --parser yaml

use alpine docker images
  services/auth/Dockerfile
  services/cart/Dockerfile
Due: none

use alpine docker images
  services/auth/Dockerfile
Due: none

use alpine docker images
  services/auth/Dockerfile
  services/auth/package.json
  services/auth/yarn.lock
Due: none

use slim docker image for auth and cart services
  services/auth/Dockerfile
  services/cart/Dockerfile
Due: none

remove cookie-parser from cart service
  services/cart/package.json
  services/cart/src/app.ts
  services/cart/yarn.lock
Due: eslint --fix, prettier --write

add node user to dockerfile
  services/auth/Dockerfile
  services/cart/Dockerfile
Due: none

handle requests to authenticate route directly
  services/auth/src/routes/authenticate.ts
Due: eslint --fix, prettier --write

increase replicas to 2
  infra/k8s/ms-commerce-auth/Chart.yaml
  infra/k8s/ms-commerce-auth/values.yaml
  infra/k8s/ms-commerce-cart/Chart.yaml
  infra/k8s/ms-commerce-cart/values.yaml
Due: prettier --write --parser yaml

improve dockerfiles
  services/auth/Dockerfile
  services/cart/Dockerfile
Due: none

scale down to 1 replica for services
  infra/k8s/ms-commerce-auth/Chart.yaml
  infra/k8s/ms-commerce-auth/values.yaml
  infra/k8s/ms-commerce-cart/Chart.yaml
  infra/k8s/ms-commerce-cart/values.yaml
Due: prettier --write --parser yaml

improve docs
  README.md
Due: prettier --write --parser markdown

improve docs
  README.md
  docs/LOCAL_DEV_SETUP.md
Due: prettier --write --parser markdown

add zod for validation in auth service
  services/auth/.eslintrc.js
  services/auth/package.json
  services/auth/src/app.ts
  services/auth/src/errors/bad-request-error.ts
  services/auth/src/errors/custom-error.ts
  services/auth/src/errors/database-url-undefined-error.ts
  services/auth/src/errors/index.ts
  services/auth/src/errors/jwt-undefined-error.ts
  services/auth/src/errors/not-authorized.ts
  services/auth/src/errors/not-found-error.ts
  services/auth/src/index.ts
  services/auth/src/middlewares/error-handler.ts
  services/auth/src/middlewares/hashing.ts
  services/auth/src/middlewares/index.ts
  services/auth/src/prisma/index.ts
  services/auth/src/routes/__test__/current-user.test.ts
  services/auth/src/routes/__test__/signout.test.ts
  services/auth/src/routes/authenticate.ts
  services/auth/src/routes/current-user.ts
  services/auth/src/routes/signin.ts
  services/auth/src/routes/signout.ts
  services/auth/src/routes/signup.ts
  services/auth/src/services/password.ts
  services/auth/src/types/index.ts
  services/auth/src/utils/index.ts
  services/auth/src/validators/index.ts
  services/auth/tsconfig.json
  services/auth/yarn.lock
Due: eslint --fix, prettier --write

Add .circleci/config.yml
  .circleci/config.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

test ci
  .circleci/config.yml
Due: none

test ci
  services/auth/src/prisma/index.ts
Due: eslint --fix, prettier --write

test ci
  .circleci/config.yml
  services/auth/src/prisma/index.ts
Due: eslint --fix, prettier --write

correct steps on ci
  .circleci/config.yml
Due: none

add zod to cart service
  docs/DATA_CONSISTENCY.md
  docs/INFRASTRUCTURE_PROVISIONING_ON_GCP.md
  docs/LOCAL_DEV_SETUP.md
  services/cart/.eslintrc.js
  services/cart/package.json
  services/cart/src/app.ts
  services/cart/src/errors/bad-request-error.ts
  services/cart/src/errors/custom-error.ts
  services/cart/src/errors/database-url-undefined-error.ts
  services/cart/src/errors/index.ts
  services/cart/src/errors/not-authorized.ts
  services/cart/src/errors/not-found-error.ts
  services/cart/src/errors/version-mismatch.ts
  services/cart/src/index.ts
  services/cart/src/middlewares/error-handler.ts
  services/cart/src/middlewares/index.ts
  services/cart/src/pub-sub/index.ts
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/__test__/single.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/get.ts
  services/cart/src/routes/single.ts
  services/cart/src/routes/update.ts
  services/cart/src/validators/index.ts
  services/cart/tsconfig.json
  services/cart/yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser markdown

enable renovate for circleci
  .github/renovate.json
Due: none

add pre-commit to renovate schedule
  .github/renovate.json
Due: none

change prettier extension to json
  .prettierrc
  .prettierrc.json
Due: none

add shellcheck to pre-commit
  .pre-commit-config.yaml
Due: prettier --write --parser yaml

add docs for shelcheck pre-commit
  docs/LOCAL_DEV_SETUP.md
Due: prettier --write --parser markdown

refactor validators into separate files
  services/cart/src/routes/create.ts
  services/cart/src/routes/update.ts
  services/cart/src/utils.ts
  services/cart/src/validators/actions-validators.ts
  services/cart/src/validators/cart-validators.ts
  services/cart/src/validators/index.ts
  services/cart/src/validators/nested-validators.ts
Due: eslint --fix, prettier --write

added more validation to auth service
  services/auth/src/middlewares/hashing.ts
  services/auth/src/routes/__test__/current-user.test.ts
  services/auth/src/routes/__test__/signin.test.ts
  services/auth/src/routes/__test__/signout.test.ts
  services/auth/src/routes/authenticate.ts
  services/auth/src/routes/current-user.ts
  services/auth/src/routes/signin.ts
  services/auth/src/routes/signout.ts
  services/auth/src/routes/signup.ts
  services/auth/src/types/index.ts
  services/auth/src/utils/generate-token.ts
  services/auth/src/utils/index.ts
  services/auth/src/utils/password-hashing.ts
  services/auth/src/validators/index.ts
Due: eslint --fix, prettier --write

add more validation to cart service
  services/cart/src/prisma/migrations/20221229001609_version_start_at_1/migration.sql
  services/cart/src/prisma/schema.prisma
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/get.ts
  services/cart/src/routes/update.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.ts
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser yaml: any of: *.{yaml, yml}
