Repository YahiaElTai/ms-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.md": ["prettier --write --parser markdown"],
  "*.{yaml, yml}": ["prettier --write --parser yaml"]
}

chore: add helm values and secrets per env
  .circleci/config.yml
  .circleci/deploy_service.sh
  infra/k8s/ms-account/secrets.yaml.enc
  infra/k8s/ms-cart/secrets.yaml.enc
  infra/k8s/ms-product/secrets.yaml.enc
  infra/k8s/values/gcp-production-eu/ms-account/secrets.yaml.enc
  infra/k8s/values/gcp-production-eu/ms-account/values.yaml
  infra/k8s/values/gcp-production-eu/ms-cart/secrets.yaml.enc
  infra/k8s/values/gcp-production-eu/ms-cart/values.yaml
  infra/k8s/values/gcp-production-eu/ms-ingress/values.yaml
  infra/k8s/values/gcp-production-eu/ms-product/secrets.yaml.enc
  infra/k8s/values/gcp-production-eu/ms-product/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-account/secrets.yaml.enc
  infra/k8s/values/gcp-staging-eu/ms-account/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-cart/secrets.yaml.enc
  infra/k8s/values/gcp-staging-eu/ms-cart/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-ingress/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-product/secrets.yaml.enc
  infra/k8s/values/gcp-staging-eu/ms-product/values.yaml
Due: prettier --write --parser yaml

chore: use correct artifact registry repo name
  infra/k8s/values/gcp-staging-eu/ms-account/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-cart/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-product/values.yaml
Due: prettier --write --parser yaml

chore: add staging env correctly
  .circleci/.env.gcp-production-eu
  .circleci/.env.gcp-staging-eu
  .circleci/README.md
  .circleci/deploy_service.sh
  README.md
  docs/GCP_INFRASTRUCTURE_PROVISIONING.md
  infra/k8s/values/gcp-staging-eu/ms-account/secrets.yaml.enc
  infra/k8s/values/gcp-staging-eu/ms-cart/secrets.yaml.enc
  infra/k8s/values/gcp-staging-eu/ms-product/secrets.yaml.enc
  infra/terraform/.terraform.lock.hcl
  infra/terraform/README.md
  infra/terraform/main.tf
Due: prettier --write --parser markdown

chore: add logging with winston for product service
  README.md
  docs/GCP_INFRASTRUCTURE_PROVISIONING.md
  services/product/package.json
  services/product/pnpm-lock.yaml
  services/product/src/app.ts
  services/product/src/logger/index.ts
  services/product/src/middlewares/index.ts
  services/product/src/middlewares/request-logger.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

chore: correct log format
  services/product/src/logger/index.ts
Due: eslint --fix, prettier --write

chore: correct log format for GCP
  services/product/src/logger/index.ts
Due: eslint --fix, prettier --write

chore: ensure logs are correct even if request fails
  docs/AUTHENTICATION_STRATEGY.md
  docs/LOCAL_DEV_SETUP.md
  infra/k8s-dev/ms-ingress-srv.yaml
  infra/k8s/ms-ingress/templates/_helpers.tpl
  services/account/src/routes/__test__/current-user.test.ts
  services/account/src/routes/users/authenticate.ts
  services/product/src/middlewares/request-logger.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

chore: add error logger for product service
  services/product/src/index.ts
  services/product/src/logger/index.ts
  services/product/src/loggers/application-logger.ts
  services/product/src/loggers/index.ts
  services/product/src/loggers/request-logger.ts
  services/product/src/middlewares/error-handler.ts
  services/product/src/middlewares/request-logger.ts
Due: eslint --fix, prettier --write

add logging to account service
  .circleci/deploy_service.sh
  services/account/package.json
  services/account/pnpm-lock.yaml
  services/account/src/app.ts
  services/account/src/index.ts
  services/account/src/loggers/application-logger.ts
  services/account/src/loggers/index.ts
  services/account/src/loggers/request-logger.ts
  services/account/src/middlewares/error-handler.ts
  services/account/src/middlewares/request-logger.ts
  services/account/src/routes/users/authenticate.ts
  services/cart/src/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: add logging for cart service
  docs/LOGGING_MONITORING.md
  services/cart/package.json
  services/cart/pnpm-lock.yaml
  services/cart/src/app.ts
  services/cart/src/kafka/consumer.ts
  services/cart/src/kafka/operations/create-product.ts
  services/cart/src/kafka/operations/delete-product.ts
  services/cart/src/kafka/operations/delete_all_products.ts
  services/cart/src/kafka/operations/update-product.ts
  services/cart/src/loggers/application-logger.ts
  services/cart/src/loggers/index.ts
  services/cart/src/loggers/request-logger.ts
  services/cart/src/middlewares/error-handler.ts
  services/cart/src/middlewares/index.ts
  services/cart/src/middlewares/request-logger.ts
  services/product/README.md
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

chore: add health checks
  infra/k8s-dev/ms-ingress-srv.yaml
  infra/k8s/ms-ingress/values.yaml
  infra/terraform/main.tf
  services/account/src/app.ts
  services/account/src/middlewares/error-handler-middleware.ts
  services/account/src/middlewares/hashing-middleware.ts
  services/account/src/middlewares/health-check-middleware.ts
  services/account/src/middlewares/index.ts
  services/account/src/middlewares/request-logger-middleware.ts
  services/account/src/routes/users/authenticate.ts
  services/cart/src/app.ts
  services/cart/src/middlewares/error-handler-middleware.ts
  services/cart/src/middlewares/health-check-middleware.ts
  services/cart/src/middlewares/index.ts
  services/cart/src/middlewares/request-logger-middleware.ts
  services/product/src/app.ts
  services/product/src/middlewares/error-handler-middleware.ts
  services/product/src/middlewares/health-check-middleware.ts
  services/product/src/middlewares/index.ts
  services/product/src/middlewares/request-logger-middleware.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: update ingress paths for health checks
  docs/LOGGING_MONITORING.md
  infra/k8s/values/gcp-production-eu/ms-ingress/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-ingress/values.yaml
Due: prettier --write --parser markdown, prettier --write --parser yaml

chore: add prometheus for product service
  docs/LOGGING_MONITORING.md
  services/product/package.json
  services/product/pnpm-lock.yaml
  services/product/src/app.ts
  services/product/src/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

chore: add promster to products service
  infra/k8s/values/gcp-staging-eu/ms-product/values.yaml
  pod-monitoring.yaml
  services/product/src/app.ts
  services/product/src/middlewares/request-logger-middleware.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: add promster to cart and account services
  infra/k8s/ms-account/values.yaml
  infra/k8s/ms-cart/values.yaml
  infra/k8s/ms-product/values.yaml
  infra/k8s/values/gcp-production-eu/ms-account/values.yaml
  infra/k8s/values/gcp-production-eu/ms-cart/values.yaml
  infra/k8s/values/gcp-production-eu/ms-product/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-account/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-cart/values.yaml
  pod-monitoring.yaml
  services/account/package.json
  services/account/pnpm-lock.yaml
  services/account/src/app.ts
  services/account/src/index.ts
  services/cart/package.json
  services/cart/pnpm-lock.yaml
  services/cart/src/app.ts
  services/cart/src/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: create CR with terraform for monitoring
  infra/terraform/main.tf
  pod-monitoring.yaml
Due: prettier --write --parser yaml

chore: do not log metrics and health
  services/account/src/middlewares/request-logger-middleware.ts
  services/cart/src/middlewares/request-logger-middleware.ts
Due: eslint --fix, prettier --write

chore: use middleware for proxying requests to product and cart services
  infra/k8s-dev/ms-ingress-srv.yaml
  infra/k8s/ms-ingress/Chart.yaml
  infra/k8s/ms-ingress/templates/_helpers.tpl
  infra/k8s/ms-ingress/values.yaml
  infra/k8s/values/gcp-production-eu/ms-ingress/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-ingress/values.yaml
  services/account/package.json
  services/account/pnpm-lock.yaml
  services/account/src/app.ts
  services/account/src/middlewares/authentication-middleware.ts
  services/account/src/middlewares/index.ts
  services/account/src/middlewares/prisma-hashing-middleware.ts
  services/account/src/middlewares/proxy-middleware.ts
  services/account/src/middlewares/request-logger-middleware.ts
  services/account/src/prisma/index.ts
  services/account/src/routes/__test__/current-user.test.ts
  services/account/src/routes/__test__/update-user.test.ts
  services/account/src/routes/users/authenticate.ts
  services/account/src/routes/users/current-user.ts
  services/account/src/test/test-utils.ts
  services/cart/src/app.ts
  services/cart/src/middlewares/error-handler-middleware.ts
  services/cart/src/middlewares/request-logger-middleware.ts
  services/product/src/app.ts
  services/product/src/middlewares/error-handler-middleware.ts
  services/product/src/middlewares/request-logger-middleware.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: use middleware for proxying requests to product and cart services (#75)
  infra/k8s-dev/ms-ingress-srv.yaml
  infra/k8s/ms-ingress/Chart.yaml
  infra/k8s/ms-ingress/templates/_helpers.tpl
  infra/k8s/ms-ingress/values.yaml
  infra/k8s/values/gcp-production-eu/ms-ingress/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-ingress/values.yaml
  services/account/package.json
  services/account/pnpm-lock.yaml
  services/account/src/app.ts
  services/account/src/middlewares/authentication-middleware.ts
  services/account/src/middlewares/index.ts
  services/account/src/middlewares/prisma-hashing-middleware.ts
  services/account/src/middlewares/proxy-middleware.ts
  services/account/src/middlewares/request-logger-middleware.ts
  services/account/src/prisma/index.ts
  services/account/src/routes/__test__/current-user.test.ts
  services/account/src/routes/__test__/update-user.test.ts
  services/account/src/routes/users/authenticate.ts
  services/account/src/routes/users/current-user.ts
  services/account/src/test/test-utils.ts
  services/cart/src/app.ts
  services/cart/src/middlewares/error-handler-middleware.ts
  services/cart/src/middlewares/request-logger-middleware.ts
  services/product/src/app.ts
  services/product/src/middlewares/error-handler-middleware.ts
  services/product/src/middlewares/request-logger-middleware.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: use correct service name for account
  infra/k8s/ms-account/templates/_helpers.tpl
  infra/k8s/ms-cart/templates/_helpers.tpl
  infra/k8s/ms-ingress/values.yaml
  infra/k8s/ms-product/templates/_helpers.tpl
  infra/k8s/values/gcp-production-eu/ms-ingress/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-ingress/values.yaml
Due: prettier --write --parser yaml

chore: correct proxy rules
  infra/k8s-dev/account-depl.yaml
  infra/k8s-dev/cart-depl.yaml
  infra/k8s-dev/ms-ingress-srv.yaml
  infra/k8s-dev/product-depl.yaml
  services/account/src/middlewares/proxy-middleware.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: do not record metrics for products and carts services from account service
  services/account/package.json
  services/account/pnpm-lock.yaml
  services/account/src/app.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: update docs
  README.md
  docs/AUTHENTICATION_STRATEGY.md
  docs/LOGGING_MONITORING.md
  docs/OVERVIEW_GOLANG.md
  docs/OVERVIEW_TYPESCRIPT.md
  services/account/README.md
  services/account/src/middlewares/authentication-middleware.ts
  services/account/src/routes/projects/create.ts
  services/cart/README.md
Due: eslint --fix, prettier --write, prettier --write --parser markdown

chore: add docs
  docs/LOGGING_MONITORING.md
  infra/terraform/main.tf
  infra/terraform/variables.tf
Due: prettier --write --parser markdown

chore: update docs
  docs/LOGGING_MONITORING.md
Due: prettier --write --parser markdown

chore: do not skip metrics when proxying
  services/account/src/app.ts
Due: eslint --fix, prettier --write

chore: add swagger docs
  README.md
  thunder-tests/thunderActivity.json
  thunder-tests/thunderCollection.json
  thunder-tests/thunderEnvironment.json
  thunder-tests/thunderclient.json
Due: prettier --write --parser markdown

chore: add initial steps for terraform on CI
  .circleci/config.yml
  .gitignore
  infra/terraform/.terraform.lock.hcl
  infra/terraform/README.md
  infra/terraform/backend.tf
  infra/terraform/data.tf
  infra/terraform/environments/README.md
  infra/terraform/environments/gcp-production-eu.hcl
  infra/terraform/environments/gcp-production-eu.tfvars
  infra/terraform/environments/gcp-staging-eu.hcl
  infra/terraform/environments/gcp-staging-eu.tfvars
  infra/terraform/locals.tf
  infra/terraform/main.tf
  infra/terraform/providers.tf
  infra/terraform/variables.tf
  infra/terraform/versions.tf
Due: prettier --write --parser markdown

chore: update config file
  .circleci/config.yml
Due: none

chore: update config file
  .circleci/config.yml
  .circleci/export_gcloud_service_key.sh
Due: none

chore: update config file
  .circleci/export_gcloud_service_key.sh
Due: none
