Repository YahiaElTai/ms-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.md": ["prettier --write --parser markdown"],
  "*.{yaml, yml}": ["prettier --write --parser yaml"]
}

chore: fix issue with projects
  services/account/src/routes/users/authenticate.ts
Due: eslint --fix, prettier --write

chore: add tests for producing messages
  services/product/src/routes/__test__/create.test.ts
  services/product/src/routes/__test__/delete.test.ts
  services/product/src/routes/__test__/update.test.ts
Due: eslint --fix, prettier --write

chore: add testing route
  services/cart/src/app.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/get.ts
  services/cart/src/routes/list-products.ts
Due: eslint --fix, prettier --write

chore: add new topic - delete all products
  services/cart/src/kafka/consumer.ts
  services/cart/src/kafka/operations/delete-product.ts
  services/cart/src/kafka/operations/delete_all_products.ts
  services/cart/src/kafka/operations/update-product.ts
  services/cart/src/routes/list-products.ts
  services/cart/src/validators/common-validators.ts
  services/cart/src/validators/product-validators.ts
  services/product/src/kafka/producer.ts
  services/product/src/routes/__test__/create.test.ts
  services/product/src/routes/__test__/delete.test.ts
  services/product/src/routes/__test__/update.test.ts
  services/product/src/routes/create.ts
  services/product/src/routes/delete-all.ts
  services/product/src/routes/delete.ts
  services/product/src/routes/update.ts
  services/product/src/validators/common-validators.ts
  services/product/src/validators/product-validators.ts
Due: eslint --fix, prettier --write

chore: remove unused imports
  services/cart/src/prisma/index.ts
Due: eslint --fix, prettier --write

chore: update nodejs to 19.9.0
  services/account/Dockerfile
  services/account/Dockerfile.dev
  services/cart/Dockerfile
  services/cart/Dockerfile.dev
  services/product/Dockerfile
  services/product/Dockerfile.dev
Due: none

chore: update nodejs to v20.0.0
  services/account/Dockerfile
  services/account/Dockerfile.dev
  services/cart/Dockerfile
  services/cart/Dockerfile.dev
  services/product/Dockerfile
  services/product/Dockerfile.dev
Due: none

chore: use mongodb for account
  .circleci/README.md
  .circleci/config.yml
  .circleci/deploy_service.sh
  infra/k8s/ms-account/Chart.yaml
  infra/k8s/ms-account/secrets.yaml.enc
  infra/k8s/ms-account/templates/deployment.yaml
  infra/k8s/ms-account/templates/serviceaccount.yaml
  infra/k8s/ms-account/values.yaml
  services/account/docker-compose.yaml
  services/account/jest.config.json
  services/account/package.json
  services/account/pnpm-lock.yaml
  services/account/src/prisma/migrations/20221211115924_init/migration.sql
  services/account/src/prisma/migrations/20230102142719_add_first_and_last_name/migration.sql
  services/account/src/prisma/migrations/20230420085905_add_projects/migration.sql
  services/account/src/prisma/migrations/20230420090544_add_project_model/migration.sql
  services/account/src/prisma/migrations/20230420095309_add_version_to_user/migration.sql
  services/account/src/prisma/migrations/migration_lock.toml
  services/account/src/prisma/schema.prisma
  services/account/src/routes/__test__/current-user.test.ts
  services/account/src/routes/__test__/update-user.test.ts
  services/account/src/test/globalSetup.ts
  services/account/src/test/globalTeardown.ts
  services/account/src/utils/generate-token.ts
  services/account/src/validators/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

chore: add node executor for ci
  .circleci/config.yml
Due: none

chore: add missing deps
  .circleci/config.yml
Due: none

add missing deps
  .circleci/config.yml
Due: none

chore: more config
  .circleci/config.yml
Due: none

chore: cache mongodb binary
  .circleci/config.yml
Due: none

chore: remove caching for now
  .circleci/config.yml
Due: none

chore: set to replica sets for mongodb to 3
  services/account/package.json
  services/account/src/test/globalSetup.ts
Due: eslint --fix, prettier --write

chore: use mongodb for account (#67)
  .circleci/README.md
  .circleci/config.yml
  .circleci/deploy_service.sh
  infra/k8s/ms-account/Chart.yaml
  infra/k8s/ms-account/secrets.yaml.enc
  infra/k8s/ms-account/templates/deployment.yaml
  infra/k8s/ms-account/templates/serviceaccount.yaml
  infra/k8s/ms-account/values.yaml
  services/account/docker-compose.yaml
  services/account/jest.config.json
  services/account/package.json
  services/account/pnpm-lock.yaml
  services/account/src/prisma/migrations/20221211115924_init/migration.sql
  services/account/src/prisma/migrations/20230102142719_add_first_and_last_name/migration.sql
  services/account/src/prisma/migrations/20230420085905_add_projects/migration.sql
  services/account/src/prisma/migrations/20230420090544_add_project_model/migration.sql
  services/account/src/prisma/migrations/20230420095309_add_version_to_user/migration.sql
  services/account/src/prisma/migrations/migration_lock.toml
  services/account/src/prisma/schema.prisma
  services/account/src/routes/__test__/current-user.test.ts
  services/account/src/routes/__test__/update-user.test.ts
  services/account/src/test/globalSetup.ts
  services/account/src/test/globalTeardown.ts
  services/account/src/utils/generate-token.ts
  services/account/src/validators/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

chore: use mongodb for product service
  .circleci/config.yml
  .circleci/deploy_service.sh
  infra/k8s/ms-product/Chart.yaml
  infra/k8s/ms-product/secrets.yaml.enc
  infra/k8s/ms-product/templates/deployment.yaml
  infra/k8s/ms-product/templates/serviceaccount.yaml
  infra/k8s/ms-product/values.yaml
  infra/terraform/.terraform.lock.hcl
  infra/terraform/main.tf
  services/product/docker-compose.yaml
  services/product/jest.config.json
  services/product/package.json
  services/product/pnpm-lock.yaml
  services/product/src/prisma/migrations/20230104113628_init/migration.sql
  services/product/src/prisma/migrations/20230104161648_make_variant_id_optional_on_price/migration.sql
  services/product/src/prisma/migrations/20230420123527_add_project_key/migration.sql
  services/product/src/prisma/migrations/migration_lock.toml
  services/product/src/prisma/schema.prisma
  services/product/src/routes/__test__/get.test.ts
  services/product/src/routes/create.ts
  services/product/src/test/globalSetup.ts
  services/product/src/test/globalTeardown.ts
  services/product/src/validators/common-validators.ts
  services/product/src/validators/params-validators.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: use mongodb for product service (#68)
  .circleci/config.yml
  .circleci/deploy_service.sh
  infra/k8s/ms-product/Chart.yaml
  infra/k8s/ms-product/secrets.yaml.enc
  infra/k8s/ms-product/templates/deployment.yaml
  infra/k8s/ms-product/templates/serviceaccount.yaml
  infra/k8s/ms-product/values.yaml
  infra/terraform/.terraform.lock.hcl
  infra/terraform/main.tf
  services/product/docker-compose.yaml
  services/product/jest.config.json
  services/product/package.json
  services/product/pnpm-lock.yaml
  services/product/src/prisma/migrations/20230104113628_init/migration.sql
  services/product/src/prisma/migrations/20230104161648_make_variant_id_optional_on_price/migration.sql
  services/product/src/prisma/migrations/20230420123527_add_project_key/migration.sql
  services/product/src/prisma/migrations/migration_lock.toml
  services/product/src/prisma/schema.prisma
  services/product/src/routes/__test__/get.test.ts
  services/product/src/routes/create.ts
  services/product/src/test/globalSetup.ts
  services/product/src/test/globalTeardown.ts
  services/product/src/validators/common-validators.ts
  services/product/src/validators/params-validators.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: rename ci jobs
  .circleci/config.yml
  infra/terraform/main.tf
Due: none

chore: rename ci jobs (#69)
  .circleci/config.yml
  infra/terraform/main.tf
Due: none

chore: update user route
  docs/LOCAL_DEV_SETUP.md
  services/account/src/middlewares/hashing.ts
  services/account/src/middlewares/index.ts
  services/account/src/prisma/index.ts
  services/account/src/routes/users/update-user.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

chore: update docs for kafka and mongodb
  README.md
  docs/GCP_INFRASTRUCTURE_PROVISIONING.md
  docs/INFRASTRUCTURE_PROVISIONING_ON_GCP.md
  docs/LOCAL_DEV_SETUP.md
  services/account/README.md
  services/cart/.env.template
  services/cart/README.md
  services/product/.env.template
  services/product/README.md
Due: prettier --write --parser markdown

chore: update terraform file
  infra/terraform/main.tf
Due: none

chore: change mongodb cluster
  infra/k8s/ms-account/secrets.yaml.enc
  infra/k8s/ms-cart/secrets.yaml.enc
  infra/k8s/ms-product/secrets.yaml.enc
Due: none

chore: add price as composite type in prisma
  .circleci/deploy_service.sh
  services/account/package.json
  services/cart/package.json
  services/cart/src/kafka/operations/create-product.ts
  services/cart/src/kafka/operations/update-product.ts
  services/cart/src/model/compute-cart-fields.ts
  services/cart/src/prisma/schema.prisma
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/get.ts
  services/cart/src/routes/list-products.ts
  services/cart/src/routes/list.ts
  services/cart/src/routes/update.ts
  services/cart/src/utils/index.ts
  services/cart/src/utils/test-utils.ts
  services/cart/src/validators/common-validators.ts
  services/product/package.json
  services/product/src/prisma/schema.prisma
  services/product/src/routes/__test__/create.test.ts
  services/product/src/routes/__test__/get.test.ts
  services/product/src/routes/__test__/update.test.ts
  services/product/src/routes/create.ts
  services/product/src/routes/get.ts
  services/product/src/routes/list.ts
  services/product/src/routes/update.ts
  services/product/src/validators/product-validators.ts
Due: eslint --fix, prettier --write

chore: add price as composite type in prisma (#71)
  .circleci/deploy_service.sh
  services/account/package.json
  services/cart/package.json
  services/cart/src/kafka/operations/create-product.ts
  services/cart/src/kafka/operations/update-product.ts
  services/cart/src/model/compute-cart-fields.ts
  services/cart/src/prisma/schema.prisma
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/get.ts
  services/cart/src/routes/list-products.ts
  services/cart/src/routes/list.ts
  services/cart/src/routes/update.ts
  services/cart/src/utils/index.ts
  services/cart/src/utils/test-utils.ts
  services/cart/src/validators/common-validators.ts
  services/product/package.json
  services/product/src/prisma/schema.prisma
  services/product/src/routes/__test__/create.test.ts
  services/product/src/routes/__test__/get.test.ts
  services/product/src/routes/__test__/update.test.ts
  services/product/src/routes/create.ts
  services/product/src/routes/get.ts
  services/product/src/routes/list.ts
  services/product/src/routes/update.ts
  services/product/src/validators/product-validators.ts
Due: eslint --fix, prettier --write

chore: update docs
  services/cart/README.md
Due: prettier --write --parser markdown

chore: add staging env
  .circleci/.env.gcp-production-eu
  .circleci/.env.gcp-staging-eu
  .circleci/config.yml
  .circleci/setup_environment_variables.sh
  infra/terraform/main.tf
  infra/terraform/variables.tf
Due: none

chore: add env for ingress
  .circleci/config.yml
Due: none

yt new env staging (#72)
  .circleci/.env.gcp-production-eu
  .circleci/.env.gcp-staging-eu
  .circleci/config.yml
  .circleci/setup_environment_variables.sh
  infra/terraform/main.tf
  infra/terraform/variables.tf
  services/cart/README.md
Due: prettier --write --parser markdown

chore: configure gcr correctly for building and pushing images
  .circleci/config.yml
Due: none

chore: export gcloud service key from script
  .circleci/config.yml
  .circleci/export_gcloud_service_key.sh
Due: none

chore: correct script
  .circleci/export_gcloud_service_key.sh
Due: none

chore: use different executor for gcr
  .circleci/config.yml
Due: none
