Repository YahiaElTai/ms-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.md": ["prettier --write --parser markdown"],
  "*.{yaml, yml}": ["prettier --write --parser yaml"]
}

chore: update config file
  .circleci/config.yml
Due: none

chore: update config file
  infra/terraform/main.tf
Due: none

chore: update config file
  infra/terraform/README.md
  infra/terraform/artifact_registry.tf
  infra/terraform/environments/README.md
  infra/terraform/main.tf
  infra/terraform/providers.tf
Due: prettier --write --parser markdown

chore: update config file
  .circleci/README.md
  docs/GCP_INFRASTRUCTURE_PROVISIONING.md
  docs/TERRAFORM_OVERVIEW.md
Due: prettier --write --parser markdown

chore: update config file
  infra/terraform/artifact_registry.tf
Due: none

chore: update config file
  infra/terraform/README.md
  infra/terraform/main.tf
  infra/terraform/module_artifact_registry.tf
  infra/terraform/module_data.tf
  infra/terraform/module_kms.tf
  infra/terraform/module_kubernetes.tf
  infra/terraform/module_monitoring.tf
  infra/terraform/module_service_account.tf
  infra/terraform/variables.tf
Due: prettier --write --parser markdown

chore: update config file
  infra/terraform/variables.tf
Due: none

chore: update config file
  README.md
  docs/TERRAFORM_OVERVIEW.md
  infra/terraform/module_kms.tf
  infra/terraform/module_kubernetes.tf
Due: prettier --write --parser markdown

chore: add initial steps for terraform on CI (#77)
  .circleci/.env.gcp-production-eu
  .circleci/.env.gcp-staging-eu
  .circleci/README.md
  .circleci/config.yml
  .circleci/export_gcloud_service_key.sh
  .circleci/terraform_install.sh
  .gitignore
  README.md
  docs/GCP_INFRASTRUCTURE_PROVISIONING.md
  docs/TERRAFORM_OVERVIEW.md
  infra/terraform/.terraform.lock.hcl
  infra/terraform/README.md
  infra/terraform/backend.tf
  infra/terraform/environments/gcp-production-eu.hcl
  infra/terraform/environments/gcp-production-eu.tfvars
  infra/terraform/environments/gcp-staging-eu.hcl
  infra/terraform/environments/gcp-staging-eu.tfvars
  infra/terraform/locals.tf
  infra/terraform/main.tf
  infra/terraform/module_artifact_registry.tf
  infra/terraform/module_data.tf
  infra/terraform/module_kms.tf
  infra/terraform/module_kubernetes.tf
  infra/terraform/module_monitoring.tf
  infra/terraform/module_service_account.tf
  infra/terraform/providers.tf
  infra/terraform/variables.tf
  infra/terraform/versions.tf
Due: prettier --write --parser markdown

chore: update project key for ci env variables
  .circleci/.env.gcp-production-eu
  .circleci/.env.gcp-staging-eu
Due: none

improve docs
  README.md
  docs/TERRAFORM_OVERVIEW.md
Due: prettier --write --parser markdown

chore: encrypt secrets with new key
  docs/TERRAFORM_OVERVIEW.md
  infra/k8s/values/gcp-staging-eu/ms-account/secrets.yaml.enc
  infra/k8s/values/gcp-staging-eu/ms-cart/secrets.yaml.enc
  infra/k8s/values/gcp-staging-eu/ms-product/secrets.yaml.enc
Due: prettier --write --parser markdown

chore: encrypt secrets with new prod key
  infra/k8s/values/gcp-production-eu/ms-account/secrets.yaml.enc
  infra/k8s/values/gcp-production-eu/ms-cart/secrets.yaml.enc
  infra/k8s/values/gcp-production-eu/ms-product/secrets.yaml.enc
Due: none

chore: update project ids in helm charts
  infra/k8s/ms-account/values.yaml
  infra/k8s/ms-cart/values.yaml
  infra/k8s/ms-product/values.yaml
  infra/k8s/values/gcp-production-eu/ms-account/values.yaml
  infra/k8s/values/gcp-production-eu/ms-cart/values.yaml
  infra/k8s/values/gcp-production-eu/ms-product/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-account/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-cart/values.yaml
  infra/k8s/values/gcp-staging-eu/ms-product/values.yaml
Due: prettier --write --parser yaml

chore: create more resources with terraform
  infra/terraform/module_data.tf
  infra/terraform/module_kubernetes.tf
  infra/terraform/providers.tf
Due: none

chore: add k8s and helm providers with terraform
  infra/terraform/module_data.tf
  infra/terraform/providers.tf
Due: none

chore: authenticate k8s provider
  infra/terraform/providers.tf
Due: none

chore: create more terraform resources
  infra/terraform/README.md
  infra/terraform/module_monitoring.tf
Due: prettier --write --parser markdown

chore: add ci cd image
  README.md
  docs/CI_CD_Pipeline.png
  thunder-tests/thunderclient.json
Due: prettier --write --parser markdown

chore: cleanup infra
  infra/terraform/module_artifact_registry.tf
  infra/terraform/module_kubernetes.tf
  infra/terraform/module_monitoring.tf
Due: none

cleanup infra
  infra/terraform/module_kms.tf
Due: none

chore: stop deps
  .github/renovate.json
Due: none
