Repository YahiaElTai/ms-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

restructure docs
  README.md
Due: prettier --write --parser markdown

chore: use yarn version in package.json
  .gitignore
  services/auth/package.json
  services/auth/yarn.lock
  services/cart/package.json
  services/cart/yarn.lock
  services/product/package.json
  services/product/yarn.lock
Due: none

chore: migrate to pnpm
  .circleci/config.yml
  docs/LOCAL_DEV_SETUP.md
  services/auth/Dockerfile
  services/auth/Dockerfile.dev
  services/auth/package.json
  services/auth/pnpm-lock.yaml
  services/auth/yarn.lock
  services/cart/Dockerfile
  services/cart/Dockerfile.dev
  services/cart/package.json
  services/cart/pnpm-lock.yaml
  services/cart/tsconfig.json
  services/cart/yarn.lock
  services/product/Dockerfile
  services/product/Dockerfile.dev
  services/product/package.json
  services/product/pnpm-lock.yaml
  services/product/tsconfig.json
  services/product/yarn.lock
Due: prettier --write --parser markdown, prettier --write --parser yaml

chore: remove unknown complier option
  services/cart/tsconfig.json
  services/product/tsconfig.json
Due: none

chore: remove unknown complier option
  services/auth/src/routes/__test__/current-user.test.ts
Due: eslint --fix, prettier --write

chore: remove unknown complier option
  .circleci/config.yml
Due: none

chore: migrate to pnpm (#47)
  .circleci/config.yml
  docs/LOCAL_DEV_SETUP.md
  services/auth/Dockerfile
  services/auth/Dockerfile.dev
  services/auth/package.json
  services/auth/pnpm-lock.yaml
  services/auth/src/routes/__test__/current-user.test.ts
  services/auth/yarn.lock
  services/cart/Dockerfile
  services/cart/Dockerfile.dev
  services/cart/package.json
  services/cart/pnpm-lock.yaml
  services/cart/yarn.lock
  services/product/Dockerfile
  services/product/Dockerfile.dev
  services/product/package.json
  services/product/pnpm-lock.yaml
  services/product/yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

chore: add prisma
  services/auth/Dockerfile
  services/cart/Dockerfile
  services/product/Dockerfile
Due: none

chore: update TS to v5
  services/auth/package.json
  services/auth/pnpm-lock.yaml
  services/auth/tsconfig.json
  services/cart/package.json
  services/cart/pnpm-lock.yaml
  services/cart/tsconfig.json
  services/product/package.json
  services/product/pnpm-lock.yaml
  services/product/tsconfig.json
Due: prettier --write --parser yaml

chore: update TS to v5 (#48)
  services/auth/package.json
  services/auth/pnpm-lock.yaml
  services/auth/tsconfig.json
  services/cart/package.json
  services/cart/pnpm-lock.yaml
  services/cart/tsconfig.json
  services/product/package.json
  services/product/pnpm-lock.yaml
  services/product/tsconfig.json
Due: prettier --write --parser yaml

chore: fix flaky tests due to email address not random
  docs/LOCAL_DEV_SETUP.md
  services/auth/src/routes/__test__/current-user.test.ts
  services/auth/src/routes/__test__/signin.test.ts
  services/auth/src/routes/__test__/signout.test.ts
  services/auth/src/routes/__test__/signup.test.ts
  services/auth/src/routes/current-user.ts
  services/auth/src/test/setup.ts
  services/auth/src/test/test-utils.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

chore: fix flaky tests due to email address not random (#54)
  docs/LOCAL_DEV_SETUP.md
  services/auth/src/routes/__test__/current-user.test.ts
  services/auth/src/routes/__test__/signin.test.ts
  services/auth/src/routes/__test__/signout.test.ts
  services/auth/src/routes/__test__/signup.test.ts
  services/auth/src/routes/current-user.ts
  services/auth/src/test/setup.ts
  services/auth/src/test/test-utils.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

chore: remove deprecated imports from prisma
  services/cart/src/middlewares/error-handler.ts
  services/product/src/middlewares/error-handler.ts
Due: eslint --fix, prettier --write

chore: add kafkajs to products service
  services/product/package.json
  services/product/pnpm-lock.yaml
  services/product/src/kafka/client.ts
  services/product/src/kafka/producer.ts
  services/product/src/routes/__test__/create.test.ts
  services/product/src/routes/__test__/delete.test.ts
  services/product/src/routes/__test__/get.test.ts
  services/product/src/routes/__test__/list.test.ts
  services/product/src/routes/__test__/update.test.ts
  services/product/src/routes/create.ts
  services/product/src/routes/delete.ts
  services/product/src/routes/update.ts
  services/product/src/test/setup.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: add kafkajs to products service (#55)
  services/product/package.json
  services/product/pnpm-lock.yaml
  services/product/src/kafka/client.ts
  services/product/src/kafka/producer.ts
  services/product/src/routes/__test__/create.test.ts
  services/product/src/routes/__test__/delete.test.ts
  services/product/src/routes/__test__/get.test.ts
  services/product/src/routes/__test__/list.test.ts
  services/product/src/routes/__test__/update.test.ts
  services/product/src/routes/create.ts
  services/product/src/routes/delete.ts
  services/product/src/routes/update.ts
  services/product/src/test/setup.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: add kafka secrets to helm chart
  infra/k8s/ms-commerce-cart/secrets.yaml.enc
  infra/k8s/ms-commerce-product/secrets.yaml.enc
Due: none

chore: update docs
  README.md
Due: prettier --write --parser markdown

chore: add kafka for cart and products
  services/cart/package.json
  services/cart/pnpm-lock.yaml
  services/cart/src/app.ts
  services/cart/src/kafka/client.ts
  services/cart/src/kafka/consumer.ts
  services/cart/src/kafka/operations/create-product.ts
  services/cart/src/kafka/operations/delete-product.ts
  services/cart/src/prisma/migrations/20230413134434_add_original_product_id/migration.sql
  services/cart/src/prisma/schema.prisma
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/delete.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/products/create.ts
  services/cart/src/routes/products/list.ts
  services/cart/src/utils/test-utils.ts
  services/cart/src/validators/product-validators.ts
  services/product/docker-compose.yaml
  services/product/src/kafka/producer.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: add kafka for cart and products (#57)
  services/cart/package.json
  services/cart/pnpm-lock.yaml
  services/cart/src/app.ts
  services/cart/src/kafka/client.ts
  services/cart/src/kafka/consumer.ts
  services/cart/src/kafka/operations/create-product.ts
  services/cart/src/kafka/operations/delete-product.ts
  services/cart/src/prisma/migrations/20230413134434_add_original_product_id/migration.sql
  services/cart/src/prisma/schema.prisma
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/delete.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/products/create.ts
  services/cart/src/routes/products/list.ts
  services/cart/src/utils/test-utils.ts
  services/cart/src/validators/product-validators.ts
  services/product/docker-compose.yaml
  services/product/src/kafka/producer.ts
Due: eslint --fix, prettier --write, prettier --write --parser yaml

chore: add product updated topic to consumer
  services/cart/src/kafka/consumer.ts
  services/cart/src/kafka/operations/update-product.ts
  services/cart/src/validators/product-validators.ts
  services/product/src/kafka/client.ts
  services/product/src/kafka/producer.ts
  services/product/src/routes/update.ts
  services/product/src/validators/product-validators.ts
Due: eslint --fix, prettier --write

chore: rewrite script in a cleaner way
  .circleci/generate_test_env.sh
Due: none

chore: rewrite another script
  .circleci/deploy_service.sh
Due: none

chore: rename charts
  .circleci/config.yml
  docs/AUTHENTICATION_STRATEGY.md
  infra/k8s/ms-account/.helmignore
  infra/k8s/ms-account/Chart.yaml
  infra/k8s/ms-account/secrets.yaml.enc
  infra/k8s/ms-account/templates/_helpers.tpl
  infra/k8s/ms-account/templates/deployment.yaml
  infra/k8s/ms-account/templates/hpa.yaml
  infra/k8s/ms-account/templates/secret.yaml
  infra/k8s/ms-account/templates/service.yaml
  infra/k8s/ms-account/templates/serviceaccount.yaml
  infra/k8s/ms-account/values.yaml
  infra/k8s/ms-cart/.helmignore
  infra/k8s/ms-cart/Chart.yaml
  infra/k8s/ms-cart/secrets.yaml.enc
  infra/k8s/ms-cart/templates/_helpers.tpl
  infra/k8s/ms-cart/templates/deployment.yaml
  infra/k8s/ms-cart/templates/hpa.yaml
  infra/k8s/ms-cart/templates/secret.yaml
  infra/k8s/ms-cart/templates/service.yaml
  infra/k8s/ms-cart/templates/serviceaccount.yaml
  infra/k8s/ms-cart/values.yaml
  infra/k8s/ms-commerce-account/templates/service.yaml
  infra/k8s/ms-commerce-cart/templates/service.yaml
  infra/k8s/ms-commerce-product/templates/service.yaml
  infra/k8s/ms-ingress/.helmignore
  infra/k8s/ms-ingress/Chart.yaml
  infra/k8s/ms-ingress/templates/_helpers.tpl
  infra/k8s/ms-ingress/templates/ingress.yaml
  infra/k8s/ms-ingress/values.yaml
  infra/k8s/ms-product/.helmignore
  infra/k8s/ms-product/Chart.yaml
  infra/k8s/ms-product/secrets.yaml.enc
  infra/k8s/ms-product/templates/_helpers.tpl
  infra/k8s/ms-product/templates/deployment.yaml
  infra/k8s/ms-product/templates/hpa.yaml
  infra/k8s/ms-product/templates/secret.yaml
  infra/k8s/ms-product/templates/service.yaml
  infra/k8s/ms-product/templates/serviceaccount.yaml
  infra/k8s/ms-product/values.yaml
Due: prettier --write --parser markdown, prettier --write --parser yaml

chore: update docs
  README.md
  docs/AUTHENTICATION_STRATEGY.md
  services/account/README.md
Due: prettier --write --parser markdown

chore: use terrafom
  .circleci/README.md
  .gitignore
  README.md
  docs/INFRASTRUCTURE_PROVISIONING_ON_GCP.md
  infra/k8s/ms-account/secrets.yaml.enc
  infra/k8s/ms-account/values.yaml
  infra/k8s/ms-cart/values.yaml
  infra/k8s/ms-product/values.yaml
  infra/terraform/.terraform.lock.hcl
  infra/terraform/main.tf
Due: prettier --write --parser markdown, prettier --write --parser yaml

adjust yaml formatting
  infra/k8s/ms-account/templates/service.yaml
  infra/k8s/ms-cart/templates/service.yaml
  infra/k8s/ms-product/templates/service.yaml
Due: prettier --write --parser yaml

chore: add required gcloud components
  .circleci/config.yml
Due: none

chore: add components correctly
  .circleci/config.yml
Due: none

chore: encrypt kms secrets with corect key
  infra/k8s/ms-account/secrets.yaml.enc
  infra/k8s/ms-cart/secrets.yaml.enc
  infra/k8s/ms-product/secrets.yaml.enc
Due: none

chore: update docs
  docs/INFRASTRUCTURE_PROVISIONING_ON_GCP.md
Due: prettier --write --parser markdown

chore: update product response
  services/product/src/validators/product-validators.ts
Due: eslint --fix, prettier --write

chore: add docs
  docs/AUTHENTICATION_STRATEGY.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.ts
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser yaml: any of: *.{yaml, yml}
