Repository YahiaElTai/ms-commerce: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser yaml

add node18-strictest tsconfig to both auth and cart services
  services/auth/package.json
  services/auth/src/errors/bad-request-error.ts
  services/auth/src/errors/not-found-error.ts
  services/auth/src/index.ts
  services/auth/src/middlewares/error-handler.ts
  services/auth/src/middlewares/hashing.ts
  services/auth/src/routes/__test__/signout.test.ts
  services/auth/src/routes/authenticate.ts
  services/auth/src/routes/signin.ts
  services/auth/src/routes/signup.ts
  services/auth/src/utils/generate-token.ts
  services/auth/src/utils/password-hashing.ts
  services/auth/tsconfig.json
  services/auth/yarn.lock
  services/cart/package.json
  services/cart/src/errors/bad-request-error.ts
  services/cart/src/errors/not-found-error.ts
  services/cart/src/errors/version-mismatch.ts
  services/cart/src/index.ts
  services/cart/src/middlewares/error-handler.ts
  services/cart/src/routes/get.ts
  services/cart/src/routes/list.ts
  services/cart/src/routes/update.ts
  services/cart/src/validators/params-validators.ts
  services/cart/tsconfig.json
  services/cart/yarn.lock
Due: eslint --fix, prettier --write

use latest version of node in all dockerfiles
  services/auth/Dockerfile
  services/auth/Dockerfile.dev
  services/cart/Dockerfile
  services/cart/Dockerfile.dev
Due: none

add default formatter for prisma
  services/auth/package.json
  services/auth/src/prisma/schema.prisma
  services/cart/package.json
  services/cart/src/prisma/schema.prisma
Due: none

use node alpine image in Dockerfile
  services/auth/Dockerfile
Due: none

use node alpine docker image for cart servies and for dev Dockerfiles
  services/auth/Dockerfile
  services/auth/Dockerfile.dev
  services/cart/Dockerfile
  services/cart/Dockerfile.dev
Due: none

generate prisma client when building docker images
  services/auth/Dockerfile
  services/cart/Dockerfile
Due: none

update
  services/auth/Dockerfile
  services/cart/Dockerfile
Due: none

copy first and then generate prisma client in dockerfiles
  services/auth/Dockerfile
  services/cart/Dockerfile
Due: none

add update actions for cart
  services/cart/src/middlewares/error-handler.ts
  services/cart/src/prisma/migrations/20221231004148_drop_shipping_method_id/migration.sql
  services/cart/src/prisma/schema.prisma
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/update.ts
  services/cart/src/test/setup.ts
  services/cart/src/validators/actions-validators.ts
  services/cart/src/validators/cart-validators.ts
  services/cart/src/validators/index.ts
  services/cart/src/validators/nested-validators.ts
  services/cart/src/validators/types.ts
Due: eslint --fix, prettier --write

add more tests
  services/auth/src/middlewares/error-handler.ts
  services/auth/src/routes/__test__/current-user.test.ts
  services/auth/src/routes/__test__/signup.test.ts
  services/auth/src/validators/types.ts
  services/cart/src/errors/not-found-error.ts
  services/cart/src/middlewares/error-handler.ts
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/get.ts
  services/cart/src/validators/cart-validators.ts
Due: eslint --fix, prettier --write

add dbml prisma generator for cart service
  services/cart/package.json
  services/cart/src/prisma/dbml/schema.dbml
  services/cart/src/prisma/schema.prisma
  services/cart/yarn.lock
Due: none

use dbml only in dev
  services/cart/src/prisma/schema.prisma
Due: none

exclude cartId from lineItems on cart
  services/cart/src/prisma/index.ts
  services/cart/src/prisma/utils.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/get.ts
  services/cart/src/routes/list.ts
  services/cart/src/routes/update.ts
Due: eslint --fix, prettier --write

add docs for excluding fields
  services/cart/src/prisma/utils.ts
Due: eslint --fix, prettier --write

add delete endpoints for carts cleanup
  services/cart/src/app.ts
  services/cart/src/routes/delete.ts
Due: eslint --fix, prettier --write

add pagination and sorting for carts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/list.ts
  services/cart/src/validators/cart-validators.ts
  services/cart/src/validators/params-validators.ts
Due: eslint --fix, prettier --write

show tests details when running jest
  services/auth/package.json
  services/cart/package.json
Due: none

add first computed field for carts: totalLineItemQuantity
  services/auth/src/routes/__test__/signup.test.ts
  services/auth/src/validators/index.ts
  services/cart/src/model/compute-cart-fields.ts
  services/cart/src/model/index.ts
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/get.ts
  services/cart/src/routes/list.ts
  services/cart/src/routes/update.ts
  services/cart/src/validators/actions-validators.ts
  services/cart/src/validators/cart-validators.ts
  services/cart/src/validators/nested-validators.ts
  services/cart/src/validators/params-validators.ts
Due: eslint --fix, prettier --write

make validations more consistent
  services/auth/src/routes/__test__/signout.test.ts
  services/auth/src/validators/index.ts
  services/cart/src/model/compute-cart-fields.ts
  services/cart/src/validators/actions-validators.ts
  services/cart/src/validators/cart-validators.ts
  services/cart/src/validators/nested-validators.ts
Due: eslint --fix, prettier --write

add createdAt and updatedAt fields for cart
  services/cart/src/model/compute-cart-fields.ts
  services/cart/src/prisma/migrations/20221231220715_add_created_and_updated_at/migration.sql
  services/cart/src/prisma/schema.prisma
  services/cart/src/prisma/utils.ts
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/validators/cart-validators.ts
Due: eslint --fix, prettier --write

add release name to deploy script
  .circleci/deploy_service.sh
Due: none

improve error handling middleware in auth service
  services/auth/src/middlewares/error-handler.ts
Due: eslint --fix, prettier --write

add product endpoints for cart service
  services/cart/src/app.ts
  services/cart/src/middlewares/error-handler.ts
  services/cart/src/prisma/utils.ts
  services/cart/src/routes/products/create.ts
  services/cart/src/routes/products/list.ts
  services/cart/src/validators/common-validators.ts
  services/cart/src/validators/index.ts
  services/cart/src/validators/nested-validators.ts
  services/cart/src/validators/product-validators.ts
Due: eslint --fix, prettier --write

expand cart service prisma model and include product variants
  services/auth/src/middlewares/error-handler.ts
  services/auth/src/validators/types.ts
  services/cart/src/middlewares/error-handler.ts
  services/cart/src/model/compute-cart-fields.ts
  services/cart/src/prisma/migrations/20230101000311_add_product_and_variant_models/migration.sql
  services/cart/src/prisma/migrations/20230101011316_product_id_optional_on_variant/migration.sql
  services/cart/src/prisma/migrations/20230101143541_currency_required_on_cart/migration.sql
  services/cart/src/prisma/migrations/20230101153056_add_unique_sku_on_line_item/migration.sql
  services/cart/src/prisma/migrations/20230101180422_make_quantity_required_on_line_item/migration.sql
  services/cart/src/prisma/migrations/20230102072418_mark_sku_as_non_unique_on_lineitem/migration.sql
  services/cart/src/prisma/schema.prisma
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/get.ts
  services/cart/src/routes/list.ts
  services/cart/src/routes/update.ts
  services/cart/src/utils/index.ts
  services/cart/src/utils/test-utils.ts
  services/cart/src/validators/actions-validators.ts
  services/cart/src/validators/cart-validators.ts
  services/cart/src/validators/line-item-validators.ts
  services/cart/src/validators/types.ts
Due: eslint --fix, prettier --write

rollback gcp-grc orb version - bug
  .circleci/config.yml
  services/cart/package.json
  services/cart/src/prisma/dbml/schema.dbml
  services/cart/src/prisma/schema.prisma
  services/cart/yarn.lock
Due: none

add more tests for cart service
  services/cart/src/model/compute-cart-fields.ts
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/utils/test-utils.ts
  services/cart/src/validators/cart-validators.ts
  services/cart/src/validators/common-validators.ts
  services/cart/src/validators/line-item-validators.ts
Due: eslint --fix, prettier --write

add firstName and lastName fields to user in auth service
  services/auth/src/prisma/index.ts
  services/auth/src/prisma/migrations/20230102142719_add_first_and_last_name/migration.sql
  services/auth/src/prisma/schema.prisma
  services/auth/src/prisma/utils.ts
  services/auth/src/routes/__test__/current-user.test.ts
  services/auth/src/routes/__test__/signin.test.ts
  services/auth/src/routes/__test__/signout.test.ts
  services/auth/src/routes/__test__/signup.test.ts
  services/auth/src/routes/current-user.ts
  services/auth/src/routes/signup.ts
  services/auth/src/validators/index.ts
Due: eslint --fix, prettier --write

add delete handler for carts
  services/cart/src/app.ts
  services/cart/src/routes/__test__/delete.test.ts
  services/cart/src/routes/delete-all.ts
  services/cart/src/routes/delete.ts
Due: eslint --fix, prettier --write

add more docs to describe services written in typescript
  README.md
  docs/LOCAL_DEV_SETUP.md
  docs/OVERVIEW_GOLANG.md
  docs/OVERVIEW_TYPESCRIPT.md
  services/cart/README.md
Due: prettier --write --parser markdown

add infra setup for product service
  .circleci/config.yml
  .circleci/deploy_service.sh
  .circleci/generate_test_env.sh
  infra/k8s-dev/ms-ingress-srv.yaml
  infra/k8s-dev/product-depl.yaml
  infra/k8s/ms-commerce-ingress/Chart.yaml
  infra/k8s/ms-commerce-ingress/values.yaml
  infra/k8s/ms-commerce-product/.helmignore
  infra/k8s/ms-commerce-product/Chart.yaml
  infra/k8s/ms-commerce-product/secrets.yaml.enc
  infra/k8s/ms-commerce-product/templates/_helpers.tpl
  infra/k8s/ms-commerce-product/templates/deployment.yaml
  infra/k8s/ms-commerce-product/templates/hpa.yaml
  infra/k8s/ms-commerce-product/templates/secret.yaml
  infra/k8s/ms-commerce-product/templates/service.yaml
  infra/k8s/ms-commerce-product/templates/serviceaccount.yaml
  infra/k8s/ms-commerce-product/values.yaml
  skaffold.yaml
Due: prettier --write --parser yaml

update cart service to snapshot a variant into a line item
  services/cart/README.md
  services/cart/src/model/compute-cart-fields.ts
  services/cart/src/prisma/migrations/20230104204739_snapshots_for_variants_in_line_items/migration.sql
  services/cart/src/prisma/migrations/20230104215820_make_sku_unique_on_line_item/migration.sql
  services/cart/src/prisma/migrations/20230104231301_use_different_models_for_products/migration.sql
  services/cart/src/prisma/migrations/20230104231504_add_price_on_lineitem/migration.sql
  services/cart/src/prisma/migrations/20230105093019_/migration.sql
  services/cart/src/prisma/schema.prisma
  services/cart/src/prisma/utils.ts
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/delete.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/get.ts
  services/cart/src/routes/list.ts
  services/cart/src/routes/products/create.ts
  services/cart/src/routes/products/list.ts
  services/cart/src/routes/update.ts
  services/cart/src/utils/index.ts
  services/cart/src/utils/test-utils.ts
  services/cart/src/validators/cart-validators.ts
  services/cart/src/validators/common-validators.ts
  services/cart/src/validators/line-item-validators.ts
  services/cart/src/validators/product-validators.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

update product service port
  infra/k8s/ms-commerce-product/Chart.yaml
  infra/k8s/ms-commerce-product/values.yaml
Due: prettier --write --parser yaml

add more docs
  README.md
  services/cart/README.md
  services/product/README.md
Due: prettier --write --parser markdown

improve validation for product service
  services/product/src/prisma/utils.ts
  services/product/src/routes/__test__/create.test.ts
  services/product/src/routes/__test__/get.test.ts
  services/product/src/routes/__test__/update.test.ts
  services/product/src/routes/create.ts
  services/product/src/routes/get.ts
  services/product/src/routes/list.ts
  services/product/src/routes/update.ts
  services/product/src/validators/product-validators.ts
Due: eslint --fix, prettier --write

improve cart service validation
  services/cart/src/model/compute-cart-fields.ts
  services/cart/src/prisma/utils.ts
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/get.test.ts
  services/cart/src/routes/__test__/update.test.ts
Due: eslint --fix, prettier --write

add docs for product service
  README.md
Due: prettier --write --parser markdown

add compression middlware to auth, cart and product services to reduce reponse size
  services/auth/package.json
  services/auth/src/app.ts
  services/auth/yarn.lock
  services/cart/package.json
  services/cart/src/app.ts
  services/cart/src/prisma/migrations/20230106232143_remove_unique_sku_on_lineitems/migration.sql
  services/cart/src/prisma/schema.prisma
  services/cart/yarn.lock
  services/product/package.json
  services/product/src/app.ts
  services/product/yarn.lock
Due: eslint --fix, prettier --write

improve update actions for both cart and product servies
  services/cart/src/routes/update.ts
  services/product/src/routes/update.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.ts
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser yaml: any of: *.{yaml, yml}
