Repository YahiaElTai/ms-commerce: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger_auth, trigger_cart, trigger_infra

add shellcheck as a job and not command
  .circleci/workflows.yml
  services/auth/src/app.ts
  services/cart/src/app.ts
Due: trigger_auth, trigger_cart

add shellcheck as a job and not command
  .circleci/workflows.yml
  services/auth/src/app.ts
Due: trigger_auth

correct docs
  README.md
  docs/Local_Development_Setup.md
Due: none

added pre-commit hooks instead of husky
  .pre-commit-config.yaml
  .prettierrc.json
  services/auth/.eslintrc.js
  services/auth/.eslintrc.json
  services/auth/.prettierignore
  services/auth/.prettierrc.json
  services/auth/package.json
  services/auth/tsconfig.json
  services/cart/.eslintrc.js
  services/cart/.eslintrc.json
  services/cart/.prettierignore
  services/cart/.prettierrc.json
  services/cart/package.json
  services/cart/tsconfig.json
Due: trigger_auth, trigger_cart

add setup instructions for git hooks in local dev
  docs/Local_Development_Setup.md
Due: none

add pre-commit instead of husky
  .pre-commit-config.yaml
  services/auth/.eslintrc.js
  services/auth/tsconfig.json
  services/cart/.eslintrc.js
  services/cart/tsconfig.json
Due: trigger_auth, trigger_cart

json to yaml for prettierrc
  .prettierrc
  .prettierrc.json
Due: none

change format of tech stack to table for better readability
  README.md
Due: none

use helm to manage k8s releases
  .circleci/config.yml
  .circleci/deploy_service.sh
  .circleci/kubernetes.sh
  .circleci/workflows.yml
  .pre-commit-config.yaml
  infra/k8s-dev/ms-ingress-srv.yaml
  infra/k8s/.gitignore
  infra/k8s/auth-depl-hpa.yaml
  infra/k8s/auth-depl.yaml
  infra/k8s/cart-depl-hpa.yaml
  infra/k8s/cart-depl.yaml
  infra/k8s/ms-commerce-auth/.helmignore
  infra/k8s/ms-commerce-auth/Chart.yaml
  infra/k8s/ms-commerce-auth/secrets.yaml.enc
  infra/k8s/ms-commerce-auth/templates/_helpers.tpl
  infra/k8s/ms-commerce-auth/templates/deployment.yaml
  infra/k8s/ms-commerce-auth/templates/hpa.yaml
  infra/k8s/ms-commerce-auth/templates/secret.yaml
  infra/k8s/ms-commerce-auth/templates/service.yaml
  infra/k8s/ms-commerce-auth/templates/serviceaccount.yaml
  infra/k8s/ms-commerce-auth/values.yaml
  infra/k8s/ms-commerce-cart/.helmignore
  infra/k8s/ms-commerce-cart/Chart.yaml
  infra/k8s/ms-commerce-cart/templates/_helpers.tpl
  infra/k8s/ms-commerce-cart/templates/deployment.yaml
  infra/k8s/ms-commerce-cart/templates/hpa.yaml
  infra/k8s/ms-commerce-cart/templates/secret.yaml
  infra/k8s/ms-commerce-cart/templates/service.yaml
  infra/k8s/ms-commerce-cart/templates/serviceaccount.yaml
  infra/k8s/ms-commerce-cart/values.yaml
  infra/k8s/ms-commerce-ingress/.helmignore
  infra/k8s/ms-commerce-ingress/Chart.yaml
  infra/k8s/ms-commerce-ingress/templates/_helpers.tpl
  infra/k8s/ms-commerce-ingress/templates/ingress.yaml
  infra/k8s/ms-commerce-ingress/values.yaml
  infra/k8s/ms-ingress-srv.yaml
  services/auth/src/routes/authenticate.ts
  services/cart/src/index.ts
Due: trigger_auth, trigger_cart, trigger_infra

update failing test
  .circleci/config.yml
  services/auth/src/routes/__test__/current-user.test.ts
Due: trigger_auth

ingress chart should not require secrets to be decrypted
  .circleci/config.yml
  .circleci/deploy_service.sh
Due: none

add helm orb to install helm
  .circleci/config.yml
  .circleci/deploy_service.sh
Due: none

correct path to chart secret
  .circleci/README.md
  .circleci/deploy_service.sh
Due: none

add cart service encrypted secrets
  infra/k8s/ms-commerce-cart/secrets.yaml.enc
Due: trigger_infra

add correct image repo for cart service
  infra/k8s/ms-commerce-cart/Chart.yaml
  infra/k8s/ms-commerce-cart/values.yaml
Due: trigger_infra

correct ingress path to auth service
  infra/k8s/ms-commerce-ingress/Chart.yaml
  infra/k8s/ms-commerce-ingress/values.yaml
Due: trigger_infra

generate test env for services using shell script instead of env variables on ci
  .circleci/README.md
  .circleci/config.yml
  .circleci/deploy_service.sh
  .circleci/generate_test_env.sh
  infra/k8s/ms-commerce-cart/Chart.yaml
  infra/k8s/ms-commerce-cart/secrets.yaml.enc
  services/cart/src/index.ts
  services/cart/src/prisma/schema.prisma
Due: trigger_cart, trigger_infra

correct path to bash script
  .circleci/config.yml
Due: none

ensure database port is correct on ci
  .circleci/generate_test_env.sh
Due: none

add clean_up_artifact_registry.sh
  .circleci/README.md
  .circleci/clean_up_artifact_registry.sh
  .circleci/config.yml
Due: none

correct job name
  .circleci/config.yml
Due: none

remove unused gcp-cli from cleanup artifact job on ci
  .circleci/config.yml
Due: none

configure gcloud config for cleanup artifact script
  .circleci/config.yml
Due: none

add docker engine to script
  .circleci/config.yml
Due: none

add debug line
  .circleci/clean_up_artifact_registry.sh
Due: none

add debug line
  .circleci/clean_up_artifact_registry.sh
  .circleci/config.yml
Due: none

updare
  .circleci/README.md
  .circleci/clean_up_artifact_registry.sh
Due: none

update
  .circleci/clean_up_artifact_registry.sh
Due: none

remove cleanup for artifact registry
  .circleci/clean_up_artifact_registry.sh
  .circleci/config.yml
Due: none

add github action to cleanup old images
  .github/workflows/gcr-cleaner.yml
Due: none

remove github action to cleanup old images
  .github/workflows/gcr-cleaner.yml
Due: none

add more docs for infra provisioning
  .circleci/README.md
  .circleci/config.yml
  docs/INFRASTRUCTURE_PROVISIONING_ON_GCP.md
  docs/Local_Development_Setup.md
  infra/k8s-dev/auth-depl.yaml
  infra/k8s-dev/cart-depl.yaml
Due: none

add container probs to auth service with lightship
  infra/k8s/ms-commerce-auth/templates/deployment.yaml
  infra/k8s/ms-commerce-auth/templates/service.yaml
  infra/k8s/ms-commerce-auth/values.yaml
  services/auth/package.json
  services/auth/src/index.ts
  services/auth/yarn.lock
Due: trigger_auth, trigger_infra

correct container port on deployment
  infra/k8s/ms-commerce-auth/Chart.yaml
  infra/k8s/ms-commerce-auth/templates/deployment.yaml
Due: trigger_infra

Path conditions:
  trigger_auth: any of: services/auth/.*
  trigger_cart: any of: services/cart/.*
  trigger_infra: any of: infra/k8s/.*
