Repository YahiaElTai/ms-commerce: changes, and which CircleCI parameters are due for each by the changed paths.
All: cart-changed, auth-changed, infra-changed

update
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

update
  .circleci/workflows.yml
Due: none

update
  .vscode/settings.json
  infra/k8s/storage-class.yaml
Due: infra-changed

update
  .circleci/config.yml
Due: none

add cli
  files-changed-cli/index.js
  files-changed-cli/package-lock.json
  files-changed-cli/package.json
Due: none

chore: add new cli
  files-changed-cli/index.js
Due: none

update
  .circleci/config.yml
  files-changed-cli/index.js
  files-changed-cli/package.json
  package-lock.json
  package.json
Due: none

remove trash
  .circleci/config.yml
  package-lock.json
  package.json
Due: none

update
  auth/src/app.ts
Due: auth-changed

update
  .circleci/workflows.yml
  cart/src/app.ts
  infra/k8s/cart-depl.yaml
Due: cart-changed, infra-changed

update
  .circleci/install-libssl.sh
  .circleci/workflows.yml
Due: none

update
  .circleci/kubernetes.sh
  .circleci/workflows.yml
Due: none

update
  .circleci/install-libssl.sh
  .circleci/kubernetes.sh
  .circleci/workflows.yml
Due: none

chore: add new changes
  .circleci/gcloud-initialize.sh
  .circleci/kubernetes.sh
  .circleci/workflows.yml
  .vscode/settings.json
  cart/package-lock.json
Due: cart-changed

update packages
  auth/package-lock.json
  auth/package.json
  cart/package-lock.json
  cart/package.json
Due: cart-changed, auth-changed

Path conditions:
  cart-changed: any of: cart/.*
  auth-changed: any of: auth/.*
  infra-changed: any of: infra/k8s/.*
