Repository YahiaElTai/ms-commerce: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger_auth, trigger_cart, trigger_infra

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  configure:
    jobs:
      - path-filtering/filter:
          name: detect_modified_files
          mapping: |
            services/auth/.* trigger_auth true
            services/cart/.* trigger_cart true
            infra/k8s/.* trigger_infra true
          config-path: .circleci/workflows.yml

chore: added prisma to auth service
  services/auth/.env.development
  services/auth/docker-compose.yaml
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/app.ts
  services/auth/src/index.ts
  services/auth/src/models/user.ts
  services/auth/src/prisma/index.ts
  services/auth/src/prisma/schema.prisma
  services/auth/src/routes/__test__/current-user.test.ts
  services/auth/src/routes/__test__/signin.test.ts
  services/auth/src/routes/__test__/signout.test.ts
  services/auth/src/routes/signin.ts
  services/auth/src/routes/signup.ts
  services/auth/src/test/setup.ts
Due: trigger_auth

chore: add config
  .gitignore
  infra/k8s/auth-depl.yaml
Due: trigger_infra

update tests
  services/auth/.env.development
  services/auth/docker-compose.yaml
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/prisma/migrations/20221211115924_init/migration.sql
  services/auth/src/prisma/migrations/migration_lock.toml
  services/auth/src/prisma/schema.prisma
  services/auth/src/routes/__test__/current-user.test.ts
  services/auth/src/routes/__test__/signin.test.ts
  services/auth/src/routes/__test__/signout.test.ts
  services/auth/src/routes/__test__/signup.test.ts
Due: trigger_auth

chore: added config
  services/auth/package.json
Due: trigger_auth

chore: added new config
  .circleci/workflows.yml
  services/auth/Dockerfile
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/routes/signup.ts
Due: trigger_auth

chore: added new config
  .circleci/workflows.yml
  services/auth/src/app.ts
Due: trigger_auth

chore: removed env files
  services/auth/.env.development
  services/auth/docker-compose.yaml
  services/auth/package-lock.json
  services/auth/package.json
Due: trigger_auth

chore: removed env files
  services/auth/docker-compose.yaml
  services/auth/src/app.ts
Due: trigger_auth

chore: removed env files
  services/auth/package.json
Due: trigger_auth

chore: removed env files
  .circleci/workflows.yml
Due: none

chore: removed env files
  services/auth/src/app.ts
Due: trigger_auth

chore: removed env files
  .circleci/workflows.yml
  services/auth/src/app.ts
Due: trigger_auth

chore: removed env files
  services/auth/Dockerfile
Due: trigger_auth

change postgres version
  services/auth/docker-compose.yaml
Due: trigger_auth

chore: add new config
  infra/k8s/auth-depl.yaml
Due: trigger_infra

added new config
  services/auth/Dockerfile
Due: trigger_auth

added new dockerfile
  services/auth/Dockerfile
Due: trigger_auth

chore: added cloud sql proxy
  infra/k8s/auth-depl.yaml
Due: trigger_infra

chore: add deploy prisma migration script
  services/auth/src/app.ts
Due: trigger_auth

update
  .circleci/kubernetes.sh
  services/cart/src/app.ts
Due: trigger_cart

update
  services/auth/src/app.ts
Due: trigger_auth

use large executor for circelci
  .circleci/workflows.yml
Due: none

add new docs
  docs/Recreate_GCP_Project.md
  infra/k8s-dev/cart-depl.yaml
  infra/k8s/auth-depl.yaml
  infra/k8s/cart-depl.yaml
  infra/k8s/ms-ingress-srv.yaml
  services/auth/src/app.ts
  services/cart/src/app.ts
Due: trigger_auth, trigger_cart, trigger_infra

add new docs
  .circleci/workflows.yml
  services/auth/src/app.ts
  services/cart/src/app.ts
Due: trigger_auth, trigger_cart

chore: added new env variable for ci
  .circleci/README.md
  .circleci/kubernetes.sh
  services/auth/src/app.ts
Due: trigger_auth

chore: added new env variable for ci
  .circleci/kubernetes.sh
  services/auth/src/app.ts
Due: trigger_auth

chore: added new env variable for ci
  .circleci/kubernetes.sh
  .circleci/workflows.yml
  services/auth/src/app.ts
Due: trigger_auth

chore: added new env variable for ci
  .circleci/workflows.yml
Due: none

chore: added new env variable for ci
  services/auth/src/app.ts
Due: trigger_auth

chore: added new env variable for ci
  .circleci/workflows.yml
  services/auth/src/app.ts
Due: trigger_auth
