Repository YahiaElTai/ms-commerce: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger_auth, trigger_cart, trigger_infra

chore: added new env variable for ci
  .circleci/workflows.yml
Due: none

chore: added new docs
  docs/Local_Development_Setup.md
  docs/Recreate_GCP_Project.md
  infra/k8s-dev/auth-depl.yaml
  infra/k8s-dev/auth-mongo-depl.yaml
  services/auth/Dockerfile.dev
Due: trigger_auth

chore: migrate cart to postgresql and prisma
  .circleci/README.md
  .circleci/kubernetes.sh
  docs/Local_Development_Setup.md
  docs/Recreate_GCP_Project.md
  infra/k8s-dev/cart-depl.yaml
  infra/k8s-dev/cart-mongo-depl.yaml
  infra/k8s/cart-depl.yaml
  infra/k8s/ms-ingress-srv.yaml
  services/cart/Dockerfile
  services/cart/Dockerfile.dev
  services/cart/docker-compose.yaml
  services/cart/package-lock.json
  services/cart/package.json
  services/cart/src/app.ts
  services/cart/src/index.ts
  services/cart/src/models/cart.ts
  services/cart/src/models/subdocuments/address.ts
  services/cart/src/models/subdocuments/line-item.ts
  services/cart/src/prisma/index.ts
  services/cart/src/prisma/migrations/20221216110132_init/migration.sql
  services/cart/src/prisma/migrations/20221216123100_remove_shipping_address_from_cart/migration.sql
  services/cart/src/prisma/migrations/migration_lock.toml
  services/cart/src/prisma/schema.prisma
  services/cart/src/pub-sub/index.ts
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/__test__/single.test.ts
  services/cart/src/routes/__test__/update.test.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/list.ts
  services/cart/src/routes/single.ts
  services/cart/src/routes/update.ts
  services/cart/src/test/setup.ts
Due: trigger_cart, trigger_infra

changed
  .circleci/workflows.yml
  services/cart/src/app.ts
Due: trigger_cart

changed
  services/cart/src/index.ts
Due: trigger_cart

update docs
  docs/Recreate_GCP_Project.md
Due: none

redirect traffic to auth service
  README.md
  docs/Local_Development_Setup.md
  infra/k8s/ms-ingress-srv.yaml
  services/auth/src/app.ts
  services/auth/src/routes/__test__/current-user.test.ts
  services/auth/src/routes/authenticate.ts
  services/auth/src/routes/current-user.ts
  services/auth/src/test/setup.ts
  services/cart/src/app.ts
  services/cart/src/routes/__test__/create.test.ts
  services/cart/src/routes/__test__/list.test.ts
  services/cart/src/routes/__test__/single.test.ts
  services/cart/src/routes/create.ts
  services/cart/src/routes/list.ts
  services/cart/src/routes/single.ts
  services/cart/src/test/setup.ts
Due: trigger_auth, trigger_cart, trigger_infra

remove requireAuth from signout route
  services/auth/src/routes/signout.ts
  services/cart/src/routes/update.ts
Due: trigger_auth, trigger_cart

correct nginx-ingress auth-url to port
  infra/k8s/ms-ingress-srv.yaml
Due: trigger_infra

add cors to auth service
  infra/k8s/ms-ingress-srv.yaml
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/app.ts
  services/auth/src/routes/authenticate.ts
Due: trigger_auth, trigger_infra

add cors to cart service
  services/cart/package-lock.json
  services/cart/package.json
  services/cart/src/app.ts
Due: trigger_cart

remove cors from both services
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/app.ts
  services/cart/package-lock.json
  services/cart/package.json
  services/cart/src/app.ts
Due: trigger_auth, trigger_cart

test if headers are passed to cart service after auth
  services/cart/src/routes/list.ts
Due: trigger_cart

add docs for auth approach
  README.md
  services/cart/src/routes/list.ts
  services/cart/src/routes/single.ts
Due: trigger_cart

use generateToken within auth service
  services/auth/package-lock.json
  services/auth/package.json
  services/auth/src/routes/signin.ts
  services/auth/src/routes/signup.ts
  services/auth/src/utils/index.ts
  services/cart/package-lock.json
  services/cart/package.json
Due: trigger_auth, trigger_cart

update docs
  README.md
Due: none

add jsonwebtoken package to auth service
  services/auth/package-lock.json
  services/auth/package.json
Due: trigger_auth

configure skaffold correctly for local development and add docs
  README.md
  docs/INFRASTRUCTURE_PROVISIONING_ON_GCP.md
  docs/Local_Development_Setup.md
  infra/k8s-dev/auth-depl.yaml
  infra/k8s-dev/cart-depl.yaml
  infra/k8s-dev/ms-ingress-srv.yaml
  services/auth/.env.template
  services/auth/Dockerfile.dev
  services/auth/docker-compose.yaml
  services/auth/package.json
  services/cart/.env.template
  services/cart/Dockerfile.dev
  services/cart/docker-compose.yaml
  services/cart/package.json
  skaffold.yaml
Due: trigger_auth, trigger_cart

update docs
  README.md
  docs/Local_Development_Setup.md
Due: none

use single cloud sql instance for both services
  infra/k8s/auth-depl.yaml
  infra/k8s/cart-depl.yaml
Due: trigger_infra

changed
  services/auth/src/app.ts
  services/cart/src/app.ts
Due: trigger_auth, trigger_cart

add docs for data consistency
  README.md
  services/auth/src/app.ts
  services/cart/src/app.ts
Due: trigger_auth, trigger_cart

add docs for data consistency
  README.md
Due: none

split docs for easy read
  README.md
  docs/AUTHENTICATION_STRATEGY.md
  docs/DATA_CONSISTENCY.md
  docs/Local_Development_Setup.md
Due: none

changed docker-compose version from 3.9 to 3.0
  services/auth/docker-compose.yaml
  services/cart/docker-compose.yaml
Due: trigger_auth, trigger_cart

add new scripts to run docker compose from project root
  docs/Local_Development_Setup.md
  package.json
  services/auth/docker-compose.yaml
  services/cart/docker-compose.yaml
Due: trigger_auth, trigger_cart

remove nodejs from project root
  .circleci/workflows.yml
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  services/auth/.eslintignore
  services/auth/.eslintrc.json
  services/auth/.prettierignore
  services/auth/.prettierrc.json
  services/auth/package-lock.json
  services/auth/package.json
  services/cart/.eslintignore
  services/cart/.eslintrc.json
  services/cart/.prettierignore
  services/cart/.prettierrc.json
  services/cart/package-lock.json
  services/cart/package.json
Due: trigger_auth, trigger_cart

correct service name in package.json
  services/auth/package.json
  services/cart/package.json
Due: trigger_auth, trigger_cart

use shellcheck orb for installing shellcheck
  .circleci/workflows.yml
Due: none

changed
  services/auth/src/app.ts
Due: trigger_auth

changed
  .circleci/workflows.yml
  services/auth/src/app.ts
Due: trigger_auth

added cache path for npm install
  .circleci/install-libssl.sh
  .circleci/workflows.yml
  services/auth/src/app.ts
Due: trigger_auth

migrate from npm to yarn
  .circleci/workflows.yml
  docs/Local_Development_Setup.md
  services/auth/Dockerfile
  services/auth/Dockerfile.dev
  services/auth/package-lock.json
  services/auth/yarn.lock
  services/cart/Dockerfile
  services/cart/Dockerfile.dev
  services/cart/package-lock.json
  services/cart/yarn.lock
Due: trigger_auth, trigger_cart

correct dockerfile yarn command
  services/auth/Dockerfile
  services/cart/Dockerfile
Due: trigger_auth, trigger_cart

add working_directory in CI
  .circleci/workflows.yml
Due: none

add working_directory in CI
  services/auth/src/app.ts
  services/cart/src/app.ts
Due: trigger_auth, trigger_cart

Path conditions:
  trigger_auth: any of: services/auth/.*
  trigger_cart: any of: services/cart/.*
  trigger_infra: any of: infra/k8s/.*
